#contact {
  padding-bottom: 107px;
  background: linear-gradient(to bottom, #e1f1fd, rgba(225, 241, 253, 0));
}
.contact-info p {
  max-width: 441px;
  margin: 33px 0;
}

.contact-details {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-details li:first-of-type span {
  max-width: 207px;
}
.contact-details li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
}

.contact-form label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}

.contact-form form > div {
  margin-bottom: 20px;
}

.contact-form form input {
  height: 52px;
  font-size: 14px;
  padding-left: 20px;
  border: 1px solid #e7ecf0 !important;
  box-shadow: none !important;
}

.contact-form form textarea {
  height: 139px;
  font-size: 14px;
  padding-top: 20px;
  padding-left: 20px;
  border: 1px solid #e7ecf0 !important;
  box-shadow: none !important;
  resize: none;
}
.contact-form button {
  padding: 12px 59px;
  transition: all 0.2s ease;
}
