#hero_section {
  background: #e1f1fd;
  padding-bottom: 196px;
}
.hero-content__span {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 144px;
  min-height: 47px;
  padding: 0 18px;
}
.hero-content__span p {
  margin-bottom: 0;
  font-size: 14px;
}
.hero-content h1 {
  margin: 10px 0 13px;
}
.hero-img {
  margin-right: -60px;
  margin-left: -50px;
}
.hero-content h4 {
  margin: 13px 0 10px;
}
.hero-content p {
  max-width: 502px;
}

.hero-content h5 {
  font-size: 12px;
  margin-bottom: 11px;
}
.passport-service-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}
.passport-service-wrapper label input {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.passport-service-wrapper label span {
  background: #122241;
  border-radius: 8px;
  min-height: 40px;
  padding: 0 34px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 14px;
}
.passport-service-wrapper label input:checked ~ span {
  background: #be1e2d;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
}
.get-started-wrapper {
  background: #fff;
  border-radius: 14px;
  max-width: 508px;
  padding: 6px;
  position: relative;
  z-index: 9;
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.25);
}
.get-started-wrapper__inner {
  border-radius: 14px;
  border: 1px solid #f0efeb;
  padding: 13px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero-content button {
  font-size: 14px;
  background: #be1e2d;
  border: 1px solid #be1e2d;
  color: #fff;
  max-width: 100%;
  flex-basis: 137px;
  max-width: 137px;
  height: 45px;
  border-radius: 6px;
  transition: all 0.2s ease;
}
.hero-content button:hover {
  background: transparent;
  color: #1c1c1c;
}
.get-started-wrapper__inner select {
  flex: 1;
  border: none;
  background-image: url(../../../assets/selected-arrow.svg);
  background-repeat: no-repeat;
  background-position: center right;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none !important;
  font-size: 14px;
  padding-left: 10px;
  color: #4e5063;
}
.hero-content > span {
  color: #1c1c1c;
  display: inline-block;
  margin-top: 18px;
  font-weight: 500;
}

#process {
  padding: 75px 0 91px;
  background: #fff;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  margin-top: -140px;
}
.process-title {
  text-align: center;
  margin-bottom: 55px;
}
.process-card {
  background: #f8f9fd;
  border-radius: 20px;
  padding: 32px;
  height: 100%;
  transition: all 0.2s ease;
}
.process-card:hover {
  background: #122241;
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.25);
}
.process-card:hover > * {
  color: #fff;
}
.process-card:hover .step-number {
  background: #fff;
  color: #122241;
}
.process-card p {
  margin-bottom: 0;
}
.step-number {
  background: #be1e2d;
  border-radius: 50%;
  display: inline-flex;
  width: 46px;
  height: 46px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.2s ease;
}
.process-card h3 {
  max-width: 232px;
  margin: 15px 0 10px;
  transition: all 0.2s ease;
}
.process-card p {
  transition: all 0.2s ease;
  max-width: 300px;
}
.max-width-custom {
  max-width: 240px !important;
}
.start-btn-wrapper {
  margin-top: 38px;
}
.get-visa-options__all {
  display: flex;
  flex: 1;
  gap: 10px;
}
.get-visa-options {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.get-visa-options__all > div {
  flex: 1;
}
.get-visa-options__all--single span {
  font-size: 12px;
  color: #1c1c1c;
  margin-bottom: 5px;
  display: inline-block;
}
.get-visa-options__all--single select {
  border: none;
  width: 100%;
  outline: none;
  height: 46px;
  border-radius: 5px;
  padding-left: 10px;
  background-image: url(../../../assets/selected-arrow.svg);
  background-repeat: no-repeat;
  background-position: center right;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: 90% center;
  background-size: 10px auto;
}

#done_right {
  background: linear-gradient(to top, #122241 50%, #fff 50%);
}
.done-right-wrapper {
  background: #c7e6fd;
  border-radius: 40px;
  padding: 61px;
  margin-top: 55px;
}
.done-right-text {
  padding-left: 20px;
}
.done-right-text p {
  max-width: 500px;
  margin-top: 15px;
}

#popular_visas {
  background: #122241;
  padding: 50px 0 80px;
}
.visa-card {
  position: relative;
}
.visa-card::before {
  content: "";
  position: absolute;
  height: 145px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0), rgba(0, 0, 0, 0));
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.visa-card img {
  aspect-ratio: 3 / 4;
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
}
.visa-info {
  position: absolute;
  bottom: 0;
  left: 17px;
  bottom: 20px;
  z-index: 2;
}
.visa-info h3 {
  margin-bottom: 0;
  color: #fff;
}
.visas-title {
  color: #fff;
}
.visas-subtitle {
  color: #fff;
  margin-bottom: 54px;
}
#comparison_section {
  padding-bottom: 69px;
  background: linear-gradient(to top, #f8f9fd, rgba(248, 249, 253, 0));
}
#comparison_section h2 {
  max-width: 539px;
  margin: 0 auto;
}
#comparison_section p {
  max-width: 379px;
  margin: 13px auto 30px;
}
.comparison-table th {
  padding-left: 0 !important;
}
.comparison-table {
  background: none !important;
  margin-bottom: 32px !important;
}
.comparison-table th div {
  font-weight: 500;
  font-size: 22px;
}
.comparison-table td {
  padding: 16px 0 !important;
  background: none !important;
}
.comparison-table td:first-of-type {
  font-size: 22px;
  font-weight: 500;
}
.theirs-wrapper,
.our-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .hero-img {
    margin: 0 -30px;
  }
  .passport-service-wrapper label span {
    padding: 0 20px;
  }
  .hero-content__span p {
    font-size: 12px;
  }
  .hero-content h1 {
    font-size: 36px;
  }
  #process {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .process-card {
    padding: 25px 20px;
  }
  .done-right-wrapper {
    border-radius: 30px;
  }
  .visa-info h3 {
    font-size: 20px;
  }
  .theirs-wrapper,
  .our-wrapper {
    font-size: 14px;
  }
  .comparison-table td:first-of-type {
    font-size: 16px;
  }
  .comparison-table th div {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .hero-content h1 {
    font-size: 32px;
  }
  .hero-content h4 {
    line-height: 1.5;
  }
  .hero-content h5 {
    max-width: 300px;
  }
  .hero-img {
    margin: 0;
    margin-top: 25px;
  }
  .hero-content > span {
    font-size: 14px;
  }
  .passport-service-wrapper label span {
    padding: 0 25px;
  }
  .get-started-wrapper__inner {
    flex-direction: column;
    padding: 18px 13px 13px;
  }
  .get-started-wrapper__inner select,
  .hero-content button {
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  #process {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 50px 0;
  }
  .process-title {
    margin-bottom: 30px;
  }
  .done-right-wrapper {
    border-radius: 20px;
    padding: 30px 20px;
  }
  #done_right .row {
    flex-direction: column-reverse;
  }
  .done-right-text {
    padding-left: 0;
    margin-bottom: 20px;
  }
  .visa-card img {
    aspect-ratio: 3 / 3;
  }
  .visas-subtitle {
    margin-bottom: 30px;
  }
  #popular_visas {
    padding: 50px 0;
  }
  .comparison-table td {
    min-width: 240px;
    width: 240px;
  }
  #comparison_section {
    padding-bottom: 50px;
  }
}
