#hero_section {
  background: #e1f1fd;
  padding-bottom: 196px;
}
.hero-content__span {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 144px;
  min-height: 47px;
  padding: 0 18px;
}
.hero-content__span p {
  margin-bottom: 0;
  font-size: 14px;
}
.hero-content h1 {
  margin: 10px 0 13px;
}
.hero-img {
  margin-right: -60px;
  margin-left: -50px;
}
.hero-content h4 {
  margin: 13px 0 10px;
}
.hero-content p {
  max-width: 502px;
}

.hero-content h5 {
  font-size: 12px;
  margin-bottom: 11px;
}
.passport-service-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}
.passport-service-wrapper label input {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.passport-service-wrapper label span {
  background: #122241;
  border-radius: 8px;
  min-height: 40px;
  padding: 0 34px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 14px;
}
.passport-service-wrapper label input:checked ~ span {
  background: #be1e2d;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
}
.get-started-wrapper {
  background: #fff;
  border-radius: 14px;
  max-width: 508px;
  padding: 6px;
  position: relative;
  z-index: 9;
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.25);
}
.get-started-wrapper__inner {
  border-radius: 14px;
  border: 1px solid #f0efeb;
  padding: 13px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero-content button {
  font-size: 14px;
  background: #be1e2d;
  border: 1px solid #be1e2d;
  color: #fff;
  max-width: 100%;
  flex-basis: 137px;
  max-width: 137px;
  height: 45px;
  border-radius: 6px;
  transition: all 0.2s ease;
}
.hero-content button:hover {
  background: transparent;
  color: #1c1c1c;
}
.get-started-wrapper__inner select {
  flex: 1;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent !important;
  background-image: url(../../../assets/selected-arrow.svg);
  background-repeat: no-repeat;
  background-position: center right;
  outline: none !important;
  font-size: 14px;
  padding-left: 10px;
  color: #4e5063;
}
.hero-content > span {
  color: #1c1c1c;
  display: inline-block;
  margin-top: 18px;
  font-weight: 500;
}

#process {
  padding: 75px 0 91px;
  background: #fff;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  margin-top: -140px;
}
.process-title {
  text-align: center;
  margin-bottom: 55px;
}
.process-card {
  background: #f8f9fd;
  border-radius: 20px;
  padding: 32px;
  height: 100%;
  transition: all 0.2s ease;
}
.process-card:hover {
  background: #122241;
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.25);
}
.process-card:hover > * {
  color: #fff;
}
.process-card:hover .step-number {
  background: #fff;
  color: #122241;
}
.process-card p {
  margin-bottom: 0;
}
.step-number {
  background: #be1e2d;
  border-radius: 50%;
  display: inline-flex;
  width: 46px;
  height: 46px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.2s ease;
}
.process-card h3 {
  max-width: 232px;
  margin: 15px 0 10px;
  transition: all 0.2s ease;
}
.process-card p {
  transition: all 0.2s ease;
  max-width: 300px;
}
.max-width-custom {
  max-width: 240px !important;
}
.start-btn-wrapper {
  margin-top: 38px;
}
.get-visa-options__all {
  display: flex;
  flex: 1;
  gap: 10px;
}
.get-visa-options {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.get-visa-options__all > div {
  flex: 1;
}
.get-visa-options__all--single span {
  font-size: 12px;
  color: #1c1c1c;
  margin-bottom: 5px;
  display: inline-block;
}
.get-visa-options__all--single select {
  border: none;
  width: 100%;
  outline: none;
  height: 46px;
  border-radius: 5px;
  padding-left: 10px;
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff !important;
  -moz-appearance: none;
  background-image: url(../../../assets/selected-arrow.svg);
  background-repeat: no-repeat;
  background-position: center right;
  color: #1c1c1c;
  background-position: 90% center;
  background-size: 10px auto;
}

#done_right {
  background: linear-gradient(to top, #122241 50%, #fff 50%);
}
.done-right-wrapper {
  background: #c7e6fd;
  border-radius: 40px;
  padding: 61px;
  margin-top: 55px;
}
.done-right-text {
  padding-left: 20px;
}
.done-right-text p {
  max-width: 500px;
  margin-top: 15px;
}

#popular_visas {
  background: #122241;
  padding: 50px 0 80px;
}
.visa-card {
  position: relative;
}
.visa-card::before {
  content: "";
  position: absolute;
  height: 145px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0), rgba(0, 0, 0, 0));
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.visa-card img {
  aspect-ratio: 3 / 4;
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
}
.visa-info {
  position: absolute;
  bottom: 0;
  left: 17px;
  bottom: 20px;
  z-index: 2;
}
.visa-info h3 {
  margin-bottom: 0;
  color: #fff;
}
.visas-title {
  color: #fff;
}
.visas-subtitle {
  color: #fff;
  margin-bottom: 54px;
}
#comparison_section {
  padding-bottom: 69px;
  background: linear-gradient(to top, #f8f9fd, rgba(248, 249, 253, 0));
}
#comparison_section h2 {
  max-width: 539px;
  margin: 0 auto;
}
#comparison_section p {
  max-width: 379px;
  margin: 13px auto 30px;
}
.comparison-table th {
  padding-left: 0 !important;
  padding-bottom: 18px !important;
}
.comparison-table {
  background: none !important;
  margin-bottom: 32px !important;
}
.comparison-table th div {
  font-weight: 500;
  font-size: 22px;
}
.comparison-table td {
  padding: 16px 0 !important;
  background: none !important;
}
.comparison-table td:first-of-type {
  font-size: 22px;
  font-weight: 500;
}
.theirs-wrapper,
.our-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
}

#testimonials_section {
  padding: 61px 0 40px;
}
#testimonials_section h2 {
  max-width: 722px;
  margin: 0 auto;
  text-align: center;
}
.slider-nav {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.testimonial-text {
  font-style: italic;
  margin: 20px 0;
}
.testimonial-author {
  border-top: 1px solid #d3d3e5;
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.testimonial-author img {
  flex-basis: 41px;
  max-width: 41px;
  height: 41px;
  border-radius: 50%;
  object-fit: cover;
}
.testimonial-author div {
  flex: 1;
  padding-left: 7px;
}
.testimonial-author div h5 {
  font-size: 16px;
  margin-bottom: 2px;
}
.testimonial-author div span {
  font-size: 14px;
  color: #4e5063;
}
.testimonial-card {
  border-radius: 10px;
  background: #fff;
  padding: 28px 22px;
  transition: all 0.2s ease;
}
.swiper-custom-wrapper {
  margin: 0 -200px;
}
.swiper-slide-active .testimonial-card {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
.swiper-slide {
  padding: 50px 0;
}
.slider-nav button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: none;
  border: none;
  transition: all 0.2s ease;
}
.slider-nav button:hover {
  background: #122241;
}
.slider-nav button svg path {
  transition: all 0.2s ease;
}
.slider-nav button:hover svg path {
  fill: #fff;
}

.trabel-service-single-all {
  background: #f8f9fd;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
  padding: 32px 29px 16px;
  min-height: 114px;
}
.travel-service-single-all__link {
  position: absolute !important;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background: #fff;
  border-top-left-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.travel-service-single-all__link::after {
  content: "";
  position: absolute;
  background-image: radial-gradient(
    circle at 100% 0%,
    transparent 19px,
    #fff calc(20px + 1px)
  );
  width: 20px;
  height: 20px;
  right: 0;
  bottom: 100%;
  right: 0;
  transform: scaleX(-1);
}
.travel-service-single-all__link::before {
  content: "";
  position: absolute;
  background-image: radial-gradient(
    circle at 100% 0%,
    transparent 19px,
    #fff calc(20px + 1px)
  );
  width: 20px;
  height: 20px;
  right: 0;
  bottom: 0;
  right: 100%;
  transform: scaleX(-1);
}
.travel-service-featured-div {
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  align-items: flex-end;
  position: relative;
  background-color: #f8f9fd;
  padding: 42px;
  border-radius: 20px;
  min-height: 390px;
}
.travel-service-featured-div-passport {
  background-image: url(../../../assets/passport-bg-image.png);
}
.travel-service-featured-div-visa {
  background-image: url(../../../assets/travel-service-visa-bg.png);
}
.travel-service-featured-div-evisa {
  background-image: url(../../../assets/travel-service-evisa-bg.png);
}
.travel-service-featured-div__link {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-top-left-radius: 30px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.travel-service-featured-div__link::before {
  content: "";
  position: absolute;
  background-image: radial-gradient(
    circle at 100% 0%,
    transparent 29px,
    #fff calc(30px + 1px)
  );
  width: 30px;
  height: 30px;
  right: 0;
  bottom: 0;
  right: 100%;
  transform: scaleX(-1);
}
.travel-service-featured-div__link::after {
  content: "";
  position: absolute;
  background-image: radial-gradient(
    circle at 100% 0%,
    transparent 29px,
    #fff calc(30px + 1px)
  );
  width: 30px;
  height: 30px;
  right: 0;
  bottom: 100%;
  right: 0;
  transform: scaleX(-1);
}
.row-gap {
  row-gap: 24px;
}
.travel-service-header {
  text-align: center;
}
.travel-service-header h2 {
  max-width: 630px;
  margin: 0 auto;
}
.travel-service-header p {
  max-width: 616px;
  margin: 16px auto 29px;
}
.travel-button-wrapper {
  margin-bottom: 46px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}
.travel-button-wrapper button {
  padding: 0 44px;
  height: 52px;
  background: #122241;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  transition: all 0.2s ease;
}
.travel-button-wrapper button.active {
  background: #be1e2d;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1024px) {
  .row-gap {
    row-gap: 20px;
  }
  .travel-service-featured-div {
    align-items: flex-start;
  }
  .travel-service-featured-div-passport {
    background-size: 80% auto;
  }
  .trabel-service-single-all {
    padding: 25px 20px 16px;
  }
  .switch-content-all h3 {
    font-size: 16px;
  }
  .switch-content-all-evisa h3 {
    max-width: 80px;
  }
  .hero-img {
    margin: 0 -30px;
  }
  .passport-service-wrapper label span {
    padding: 0 20px;
  }
  .hero-content__span p {
    font-size: 12px;
  }
  .hero-content h1 {
    font-size: 36px;
  }
  #process {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .process-card {
    padding: 25px 20px;
  }
  .done-right-wrapper {
    border-radius: 30px;
  }
  .visa-info h3 {
    font-size: 20px;
  }
  .theirs-wrapper,
  .our-wrapper {
    font-size: 14px;
  }
  .comparison-table td:first-of-type {
    font-size: 16px;
  }
  .comparison-table th div {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .get-visa-options__all {
    width: 100%;
  }
  .get-visa-options {
    flex-direction: column;
  }
  .travel-button-wrapper {
    gap: 10px;
    margin-bottom: 25px;
  }
  .travel-service-featured-div-visa {
    background-size: 85% auto !important;
  }
  .travel-button-wrapper button {
    font-size: 14px;
    padding: 0 28px;
    height: 45px;
  }
  .travel-service-featured-div-passport {
    background-size: 60% auto;
  }
  .travel-service-featured-div {
    background-size: 70% auto;
  }
  .travel-service-featured-div {
    margin-bottom: 20px;
    height: auto;
    padding: 30px 20px;
    min-height: 250px;
  }
  .trabel-service-single-all {
    border-radius: 10px;
    min-height: 90px;
  }
  .row-gap {
    row-gap: 20px;
  }
  .swiper-slide-active .testimonial-card {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }
  .swiper-slide {
    padding: 40px 0 30px;
  }
  #testimonials_section h2 {
    margin: 0 20px;
  }
  #testimonials_section {
    padding: 50px 0;
  }
  .swiper-custom-wrapper .swiper {
    padding: 0 20px;
  }
  .swiper-custom-wrapper {
    margin: 0;
  }
  .theirs-wrapper,
  .our-wrapper {
    gap: 13px;
  }
  .hero-content h1 {
    font-size: 32px;
  }
  .hero-content h4 {
    line-height: 1.5;
  }
  .hero-content h5 {
    max-width: 300px;
  }
  .hero-img {
    margin: 0;
    margin-top: 25px;
  }
  .hero-content > span {
    font-size: 14px;
  }
  .passport-service-wrapper label span {
    padding: 0 25px;
  }
  .get-started-wrapper__inner {
    flex-direction: column;
    padding: 18px 13px 13px;
  }
  .get-started-wrapper__inner select,
  .hero-content button {
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .hero-content button {
    height: 50px;
    min-height: 50px;
  }
  #process {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 50px 0;
  }
  .process-title {
    margin-bottom: 30px;
  }
  .done-right-wrapper {
    border-radius: 20px;
    padding: 30px 20px;
  }
  #done_right .row {
    flex-direction: column-reverse;
  }
  .done-right-text {
    padding-left: 0;
    margin-bottom: 20px;
  }
  .visa-card img {
    aspect-ratio: 3 / 3;
  }
  .visas-subtitle {
    margin-bottom: 30px;
  }
  #popular_visas {
    padding: 50px 0;
  }
  .comparison-table td {
    min-width: 240px;
    width: 240px;
  }
  #comparison_section {
    padding-bottom: 50px;
  }
}
