* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body.active {
  max-height: 100vh;
  overflow: hidden;
}

.fl-page {
  overflow: hidden;
}

::selection {
  background: #122241;
  color: #fff;
}

img {
  max-width: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

h1 {
  font-size: 68px;
  line-height: 1.1;
  font-weight: 600;
  color: #1c1c1c;
}

h2 {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 600;
  color: #1c1c1c;
}

h3 {
  font-size: 22px;
  font-weight: 500;
  color: #1c1c1c;
  line-height: 1.3;
}

h4 {
  font-weight: 500;
  font-size: 18px;
  color: #1c1c1c;
}

p {
  font-size: 16px;
  color: #4e5063;
  line-height: 1.5;
  font-weight: 400;
}

a {
  transition: all 0.2s ease;
  text-decoration: none;
  color: #1c1c1c;
}
a:hover {
  color: #be1e2d;
}

.btn-all {
  background: #be1e2d;
  border: 1px solid #be1e2d;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 31px;
  display: inline-block;
  color: #fff;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
}
.btn-all:hover {
  background: transparent;
  color: #1c1c1c;
}

.container {
  max-width: 1250px !important;
}

/* header */
.header-info-bar {
  background: #122241;
}
.header-info-bar p {
  margin-bottom: 0;
  color: #fff;
  font-size: 14px;
  padding: 18px 0;
}
.header-contact-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
.header-contact-wrapper a {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #fff;
  font-weight: 500;
}
.header-contact-wrapper a:hover {
  opacity: 0.8;
}
.main-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 31px;
}
.main-nav__items {
  flex: 1;
}
.main-nav__items--links {
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: center;
}
.main-nav__account,
.main-nav__logo {
  flex-basis: 126px;
  max-width: 126px;
}
.main-nav__account {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-nav__account a {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(18, 34, 65, 0.1);
  border-radius: 50%;
}
.header-wrapper {
  background: #e1f1fd;
  padding-bottom: 50px;
}
.main-nav__account a:hover:first-of-type {
  opacity: 0.8;
}
.mobile-hamburger {
  display: none;
}

/* footer */
footer {
  background: #122241;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  padding: 64px 0 50px;
  position: relative;
}
footer::before {
  content: "";
  position: absolute;
  background: url(./assets/footer-glow.png);
  width: 768px;
  height: 379px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
footer .container {
  position: relative;
  z-index: 9;
}
.footer-logo p {
  font-size: 12px;
  color: #fff;
  max-width: 258px;
  margin: 28px 0 119px;
}
.footer-social-media {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer-social-media a {
  background: rgba(255, 255, 255, 0.1);
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.footer-social-media a:hover {
  background: #be1e2d;
}
.footer-separator {
  background: #182a4d;
  height: 1px;
  margin: 36px 0;
}
.copyright-p {
  text-align: center;
  margin-bottom: 0;
  color: #fff;
}
.footer-col-all {
  height: 100%;
}
.footer-col-all h4 {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}
.footer-col-all {
  border-left: 1px solid #182a4d;
  padding: 22px 0;
  padding-left: 32px;
}
.footer-col-all .separator {
  background: #be1e2d;
  height: 3px;
  width: 42px;
  margin: 15px 0 20px;
}
.footer-col-all p {
  color: #fff;
  font-size: 14px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-links a {
  color: #fff;
  font-size: 14px;
}
.footer-links a:hover {
  color: #be1e2d;
}
.footer-info__single {
  border: 1px solid #182a4d;
  display: flex;
  padding: 14px 18px;
  border-radius: 5px;
  align-items: center;
}
.footer-info {
  flex-direction: column;
  display: flex;
  gap: 20px;
}
.footer-info__single p {
  margin-bottom: 0;
}
.footer-info .line {
  background: #182a4d;
  height: 32px;
  width: 1px;
  margin-left: 12px;
  margin-right: 19px;
}
div.footer-info__single p {
  max-width: 207px;
}

/* why choose */
#why_choose {
  padding: 70px 0 117px;
}
.why-choose-title h2 {
  max-width: 450px;
}
.why-choose-title p {
  max-width: 461px;
  margin: 17px 0;
}
.why-choose-faq__single {
  background: #f8f9fd;
  padding: 30px;
  border-radius: 25px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.why-choose-faq__single.active {
  background: #122241;
}
.why-choose-faq__single.active p,
.why-choose-faq__single.active h3 {
  color: #fff;
}
.why-choose-faq__single--title {
  display: flex;
  align-items: center;
}
.why-choose-faq__single.active .why-choose-faq__single--title--icon {
  background: rgba(255, 255, 255, 0.1);
}
.why-choose-faq__single svg path {
  transition: all 0.2s ease;
}
.why-choose-faq__single.active svg path {
  fill: #fff;
}
.why-choose-faq__single--title--icon {
  flex-basis: 62px;
  max-width: 62px;
  height: 62px;
  background: #fdfdfe;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}
.why-choose-faq__single--title--text {
  flex: 1;
  padding-left: 31px;
}
.why-choose-faq__single--title--text h3 {
  margin-bottom: 0;
  transition: all 0.2s ease;
}
.why-choose-faq__single.active .why-choose-faq__single--description {
  max-height: 1000px;
}
.why-choose-faq__single--description {
  padding-left: 94px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease;
}
.why-choose-faq__single--description p {
  margin-bottom: 0;
  transition: all 0.2s ease;
}

/* image passport */
#image_passport {
  background: url(./assets/image-passport.png);
  background-size: cover;
  min-height: 528px;
  margin-bottom: -100px;
  background-position: bottom center;
}

/* map */
#map_section iframe {
  width: 100%;
  height: 528px;
  margin-bottom: -100px;
}

/* contact us services */
.contact-us-services-title h2 {
  max-width: 482px;
}
#contact_us_services {
  padding: 97px 0;
}
.contact-us-services-text a {
  margin-top: 9px;
}

/* pagination */
.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.pagination-list {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.pagination-item {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item:hover,
.pagination-arrow:hover {
  background-color: #f3f4f6;
}

.pagination-item.active {
  background-color: #122241;
  color: #fff;
}

.pagination-item.dots {
  cursor: default;
  color: #888;
}

@media (max-width: 1150px) {
  .header-contact-wrapper a {
    font-size: 14px;
  }
  footer {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
  }
  .btn-all {
    font-size: 16px;
  }
  .container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .main-nav__items--links {
    position: fixed;
    top: 85px;
    left: 0;
    background: #e1f1fd;
    width: 100%;
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.2s ease;
    border-top: 1px solid rgba(18, 34, 65, 0.1);
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 30px;
    gap: 20px;
    z-index: 999;
  }
  .main-nav__items--links.active {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
  }
  .main-nav__items--links a {
    font-size: 16px;
  }
  .header-info-bar {
    display: none;
  }
  .main-nav {
    margin-top: 0;
    padding: 20px 0 0;
  }
  .header-wrapper {
    padding-bottom: 40px;
  }
  .mobile-hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
  }
  .mobile-hamburger span {
    background: #1c1c1c;
    width: 30px;
    height: 1px;
    transition: all 0.2s ease;
  }
  .mobile-hamburger.active .line-1 {
    transform: rotate(45deg);
  }
  .mobile-hamburger.active .line-2 {
    transform: rotate(-45deg);
    margin-top: -6px;
  }
  .footer-logo p {
    margin: 28px 0 40px;
  }
  .footer-social-media {
    margin-bottom: 50px;
  }
  .why-choose-faq__single--description {
    padding-left: 0;
  }
  .why-choose-faq__single--description p {
    margin-top: 15px;
  }
  #image_passport {
    min-height: 350px;
  }
  #map_section iframe {
    height: 350px;
  }
  #contact_us_services {
    padding: 80px 0;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  .btn-all {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  h4 {
    font-size: 16px;
  }
  .container {
    padding: 0 20px !important;
  }
  .main-nav__account {
    justify-content: flex-end;
  }
  .main-nav__account {
    gap: 5px;
  }
  .main-nav__account,
  .main-nav__logo {
    flex-basis: auto;
    max-width: auto;
  }
  .main-nav__account a {
    width: 45px;
    height: 45px;
  }
  .main-nav__account a img {
    width: 20px;
  }
  .main-nav__logo img {
    width: 100px;
  }
  footer {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 45px 0 25px;
    overflow: hidden;
  }
  .footer-logo p {
    margin: 20px 0 20px;
  }
  .footer-col-all {
    padding-left: 0;
    border: none;
    padding: 10px 0;
  }
  .footer-social-media {
    margin-bottom: 25px;
  }
  .footer-col-all-contact {
    margin-top: 20px;
  }
  .footer-info {
    gap: 15px;
  }
  .footer-separator {
    margin: 20px 0;
  }
  .row-col-mb .col-12:not(:last-of-type) {
    margin-bottom: 20px;
  }
  #why_choose {
    padding: 50px 0;
  }
  .why-choose-title {
    margin-bottom: 20px;
  }
  .why-choose-faq__single {
    padding: 20px;
    border-radius: 20px;
  }
  .why-choose-faq__single--title--text {
    padding-left: 20px;
  }
  #image_passport {
    min-height: 250px;
    margin-bottom: -25px;
  }
  #map_section iframe {
    height: 250px;
    margin-bottom: -25px;
  }
  #contact_us_services {
    padding: 50px 0;
  }
  .contact-us-services-title h2 {
    margin-bottom: 20px;
  }
}
